{
  "root": true,
  "env": { "browser": true, "es2020": true },
  "extends": [
    "eslint:recommended",
    "plugin:@typescript-eslint/recommended",
    "plugin:react/recommended"
  ],
  "ignorePatterns": ["dist", ".eslintrc", "build", "vite.config.ts", "node_modules"],
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "ecmaFeatures": {
      "jsx": true
    },
    "ecmaVersion": "latest",
    "sourceType": "module"
  },
  "plugins": ["react", "@typescript-eslint", "@stylistic", "simple-import-sort"],
  "rules": {
    "linebreak-style": ["error", "unix"],
    "quotes": ["error", "single"],
    "comma-spacing": ["error", { "before": false, "after": true }],
    "semi-spacing": ["error", { "before": false, "after": true }],
    "array-bracket-newline": ["error", { "multiline": true }],
    "object-curly-newline": ["error", { "multiline": true }],
    "no-console": "error",
    "no-restricted-imports": ["error", {
      "patterns": [".*"]
    }],
    "@stylistic/semi": [2, "always"],
    "@stylistic/semi-style": ["error", "last"],
    "@stylistic/eol-last": ["error", "always"],
    "@stylistic/object-curly-spacing": ["error", "always"],
    "@stylistic/array-bracket-spacing": ["error", "never"],
    "@stylistic/no-trailing-spaces": "error",
    "@typescript-eslint/no-unused-vars": "error",
    "simple-import-sort/imports": "error",
    "react/react-in-jsx-scope": "off"
  }
}
